.titulo {
    color: hotpink;
    width: 320px;
    height: 50px;
    background-color: teal;
}

#seleccionar-mascota {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.tarjeta-de-mokepon {
   width: 100px;
   height: 100px;
   background-color:aquamarine;
   padding: 10px;
   box-sizing: border-box;
}


